@import "tailwindcss";

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  --animate-shine: shine 5s ease-in-out infinite;
  @keyframes shine {
    0%,
    100% {
      box-shadow: 0 0 50px #ffffff30;
    }
    50% {
      box-shadow: 0 0 100px #ffffff50;
    }
  }

  --animate-fade-in-up: fadeInUp 1.5s ease-out forwards;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
